# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/*
!build/windows/
build/windows/*
!build/windows/installer.iss
dist/
*.spec

# Installer artifacts
*.exe
*.msi

# Virtual environments
.venv/
venv/

# Misc
.DS_Store
*.log
session.json

# VS Code / IDE
.vscode/
.idea/
